.flex-half .radio-wrapper {
    border-radius: 0.5rem;
    padding: 0.25rem;
    gap: 0.25rem;
    border: 2px solid var(--input-stroke);
    background-color: var(--input-base);
}

.radio-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
    gap: 0.75rem;

    & input[name="event-location"] {
        position: absolute;
        border: none;
        height: 100%;
    }

    & svg {
        width: 1rem;
        height: 1rem;
    }
}

.radio-onsite, .radio-remote {
    position: relative;
    height: 3rem;

    & label, svg {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
    }

    &:hover, &:has(input:focus), &:has(:checked) {
        & svg path {
            stroke: var(--brand-light);
        }

        & input {
            background-color: var(--shape-hover); 
        }

        & label {
            color: var(--text-heading);
            font-weight: 600;
        }
    }
}

.radio-onsite {
    & svg {
        left: 10%;
    }

    & label {
        left: 30%;
    }
}

.radio-remote {
    & svg {
        left: 20%;
    }

    & label {
        left: 40%;
    }
}

.radio-wrapper .radio-inner {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    justify-content: center;
    align-items: center;

    background-color: var(--shape-button);

    & input {
        all: unset;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
    }

    &:hover, &:has(input:focus), &:has(:checked) {
        border: 3px solid var(--brand-light);
    }

    & #blue {
        background-color: var(--brand-light);
    }

    & #navy {
        background-color: #6A59FF;
    }

    & #purple {
        background-color: #B259FF;
    }

    & #fuschia {
        background-color: #FF59F9;
    }

    & #pink {
        background-color: #FF598B;
    }

    & #red {
        background-color: var(--danger);
    }

    & #orange {
        background-color: #FF8B59;
    }

    & #yellow {
        background-color: #FFCD59;
    }

    & #lime {
        background-color: #E1FF59;
    }

    & #green {
        background-color: #59FF91;
    }

    & #cyan {
        background-color: #59FFF9;
    }
}

.radio-wrapper-8rem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 0.5rem;
    margin-bottom: 1.75rem;
}

.radio-wrapper-8rem .radio-inner {
    position: relative;
    display: grid;
    background-color: var(--shape-button);
    border: 2px solid var(--input-stroke);
    border-radius: 0.5rem;

    & img {
        padding: 0.25rem 0.25rem 0 0.25rem;
        height: 100%;
        width: 100%;
    }

    & input {
        position: absolute;
        width: 100%;
        height: 100%;
        background: transparent;
        border: transparent;
    }

    &:hover, &:has(input:focus), &:has(:checked) {
        border-color: var(--brand-light);
    }   

    & label {
        font: var(--body-sm);
        color: var(--text-heading);
        text-align: center;
        margin: 0.5rem;
    }
}

.style-wrapper {
    display: flex;
    height: 2.5rem;
    align-items: center;
}

.radio-boolean {
    width: 3.5rem;
    height: 2rem;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    border-radius: 2rem;
    padding: 0.25rem;

    & input {
        border: none;
        padding: 0.5rem;
        background-color: var(--input-stroke);
        border-radius: 2rem;
        pointer-events: none;
    }

    & #light {
        margin-left: auto;
        background-color: transparent;
    }

    &:has(input#light:checked) {
        background-color: var(--brand-light);

        & #light {
            background-color: var(--text-heading);
        }

        & #dark {
            background-color: transparent;
        }
    }
}

#style-type {
    width: 3rem;
    font: var(--body-sm);
    color: var(--text-heading);
    align-self: center;
    margin-left: 0.75rem;
}