.error.flex {
    gap: 0;
    align-items: center;
    margin-top: 0.5rem;

    & img {
        width: 1rem;
        height: 1rem;
    }

    & p {
        font: var(--body-xs);
        color: var(--danger);
        margin-left: 0.5rem;
    }
}

fieldset:has(.error) input {
    border-color: var(--danger);

    &:not(:focus):not(:placeholder-shown):valid {
        border-color: var(--input-stroke);

        & + .error {
            opacity: 0;
        }
    }
}