* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-family-leckerli-one: "Leckerli One", cursive;
    --font-family-baloo-2: "Baloo 2", sans-serif;
    --font-family-open-sans: "Open Sans", sans-serif;

    --logo: 400 2.5rem/normal var(--font-family-leckerli-one);
    --heading-md: 700 1.75rem/normal var(--font-family-baloo-2);
    --heading-sm: 700 1.125rem/normal var(--font-family-baloo-2);
    --body-md: 400 1rem/normal var(--font-family-open-sans);
    --body-sm: 400 0.875rem/normal var(--font-family-open-sans);
    --body-xs: 400 0.75rem/normal var(--font-family-open-sans);

    --text-body: #C8CDD0;
    --text-heading: #F9F9F9;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --danger: #FF5959;
    --brand-light: #59B2FF;
}

body {
    overflow: hidden;

    font: var(--body-md);
    color: var(--text-body);
    background-color: var(--shape-background);
}

h1, h2 {
    color: var(--text-heading);
}

.flex {
    display: flex;
}

.flex-half {
    flex: 50%;
}

.grid {
    display: grid;
}
body.claro {
    background-color: white;
    color: black;
}
body.escuro {
    background-color: #333;
    color: white;
}
