#app {
    display: grid;
    grid-template-columns: 33% 67%;

    height: 100vh;
    margin: 1.25rem;
    overflow: hidden;
}

aside {
    display: flex;
    position: relative;

    & .aside-container > img {
        position: absolute;
        right: 1.25rem;
        max-height: calc(100vw - 1.25rem);
        border-radius: 0.75rem;
    }
    

    & .aside-container header {
        position: absolute;
        right: 3rem;
        margin: 2rem;

        & h1 {
            font: var(--logo);
            color: var(--pink);
            margin-top: 1rem;
        }

        & p {
            font: var(--body-md);
            margin-top: 0.25rem;
        }
    }

}

main {
    overflow: auto;
    border-radius: 0.75rem;
    background-color: var(--shape-body);

    & .main-container {
        max-width: 50rem;
        padding: 5rem 8.125rem;
        overflow: hidden;

        & h1 {
            font: var(--heading-md);
            color: var(--text-heading);
        }
    }
}